# Python caches
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
.env
.env.*

# Builds
build/
dist/
*.egg-info/

# OS junk
.DS_Store
Thumbs.db

# Common DS outputs (adjust per project)
outputs/
*.pkl
*.joblib

# VS Code (delete comment if need to ignore .vscode/ folder)
.vscode/
